In [ ]:
import os
import json
import couchdb
import requests
from prophet import Prophet
from datetime import datetime, timedelta

from dotenv import load_dotenv

In [ ]:
load_dotenv()

COUCHDB_HOST = os.getenv("COUCHDB_HOST")
COUCH_PORT = os.getenv("COUCH_PORT")
COUCHDB_USERNAME = os.getenv("COUCHDB_USERNAME")
COUCHDB_PASSWORD = os.getenv("COUCHDB_PASSWORD")
FREEWEATHER_DB = os.getenv("FREEWEATHER_DB")
OPENMETEO_DB = os.getenv("OPENMETEO_DB")
OPENWEATHER_DB = os.getenv("OPENWEATHER_DB")
AGGREGATE_DB = os.getenv("AGGREGATE_DB")
COUCHDB_URI = f"http://{COUCHDB_USERNAME}:{COUCHDB_PASSWORD}@{COUCHDB_HOST}:{COUCH_PORT}"

server = couchdb.Server(COUCHDB_URI)
db_name_list = [FREEWEATHER_DB, OPENMETEO_DB, OPENWEATHER_DB]

In [16]:
hournowutc = datetime.utcnow() \
            .replace(minute=0, second=0, microsecond=0) \
            .strftime("%Y-%m-%d %H:%M:%S.%f")
hournow = datetime.now().replace(minute=0, second=0, microsecond=0).strftime("%Y-%m-%d %H:%M:%S.%f")

In [17]:
hournowutc

'2025-06-08 02:00:00.000000'

In [164]:
def flatten_dict(d):
        flat = {}
        for k, v in d.items():
            if isinstance(v, dict):
                flat.update(flatten_dict(v))
            elif isinstance(v, list):
                if v and isinstance(v[0], dict):
                    for item in v:
                        flat.update(flatten_dict(item))
                else:
                    flat[k] = v
            else:
                flat[k] = v
        return flat

def is_near_certain_time(dt, time_filter, tolerance=2):
    """
    Cek apakah waktu (datetime object) mendekati kelipatan 15 menit.
    Misal: 00, 15, 30, atau 45, dengan toleransi Â±2 menit.
    """
    if time_filter=="hourly":
        filter = [0]
    elif time_filter=="quarter":
        filter = [0, 15, 30, 45]
    else :
        print(f"There's no filter named {time_filter}")

    minutes = dt.minute
    for base in filter:
        if abs(minutes - base) <= tolerance:
            return True
    return False

def filter_certain_time(data, key="created_at",  time_filter="hourly", tolerance=2):
    """
    Menyaring list of dict (data) agar hanya berisi data yang waktunya 
    mendekati kelipatan 15 menit. `key` adalah field waktu.
    """
    result = []
    for item in data:
        try:
            dt = datetime.strptime(item[key], "%Y-%m-%d %H:%M")
            if is_near_certain_time(dt, tolerance=tolerance, time_filter=time_filter):
                result.append(item)
        except Exception as e:
            print(f"Format waktu salah: {item.get(key)}")
    return result

def get_aggregate():
    now = datetime.now() \
            .replace(minute=0, second=0, microsecond=0) \
            .strftime("%Y-%m-%dT%H:%M:%S.%f")
    
    index_def = {
        "index": {"fields": ["timestamp"]},
        "name": "timestamp_index",
        "type": "json"
    }
    index_url = f"{COUCHDB_URI}/{AGGREGATE_DB}/_index"
    _ = requests.post(index_url, json=index_def)

    query = {
        "selector": {
            "timestamp": {"$lte": now}
        },
        "sort": [{"timestamp": "desc"}],
        "limit": 100000
    }

    temp_list = []
    db = server[AGGREGATE_DB]
    try:
        rows = db.find(query)
    except Exception as e:
        print(e)
    
    for row in rows:
        doc = flatten_dict(row)
        temp_list.append(doc)
    
    return temp_list
    
def get_freeweather():
    hournowutc = datetime.utcnow().replace(minute=0, second=0, microsecond=0).strftime("%Y-%m-%d %H:%M:%S.%f")
    index_def = {
    "index": {"fields": ["created_at"]},
    "name": "timestamp_index",
    "type": "json"
    }
    index_url = f"{COUCHDB_URI}/{FREEWEATHER_DB}/_index"
    _ = requests.post(index_url, json=index_def)

    query = {
        "selector": {
            "created_at": {"$lte": hournowutc}
        },
        "sort": [{"created_at": "desc"}],
        "limit": 100000
    }

    temp_list = []
    db = server[FREEWEATHER_DB]
    try:
        rows = db.find(query)
    except Exception as e:
        print(e)

    for row in rows:
        doc = flatten_dict(row)
        temp_list.append(doc)
    return temp_list

def get_openmeteo():
    nowutc = datetime.utcnow().replace(minute=0, second=0, microsecond=0).strftime("%Y-%m-%d %H:%M:%S.%f")
    index_def = {
    "index": {"fields": ["created_at"]},
    "name": "timestamp_index",
    "type": "json"
    }
    index_url = f"{COUCHDB_URI}/{OPENMETEO_DB}/_index"
    _ = requests.post(index_url, json=index_def)

    query = {
        "selector": {
            "created_at": {
                "$lte": nowutc,
                }
        },
        "sort": [{"created_at": "desc"}],
        "limit": 32
    }

    temp_list = []
    db = server[OPENMETEO_DB]
    try:
        rows = db.find(query)
    except Exception as e:
        print(e)

    for row in rows:
        doc = flatten_dict(row)
        temp_list.append(doc)
    return temp_list

In [32]:
res = get_aggregate()

In [33]:
len(res)

1078

In [ ]:
import pandas as pd

In [105]:
def get_all_data(db_name): 
    db = server[db_name]
    all_docs = db.view('_all_docs', include_docs=True)

    temp_res = []
    for doc in all_docs:
        doc = doc["doc"]
        flattened_doc = flatten_dict(doc)
        temp_res.append(flattened_doc)
    
    return temp_res

In [107]:
temp_res = get_all_data(AGGREGATE_DB)

df = pd.DataFrame(temp_res)
df.drop(columns=["_id", "_rev", "avg_date", "fields", "created_at", "reduce", "language"], inplace=True)
df.drop(index=[1078, 1079], inplace=True)
df.drop_duplicates(inplace=True)

transformed1 = df.groupby(by=["location_name", "latitude", "longitude", "timestamp"]).mean().reset_index()
transformed1 = transformed1.sort_values(by=["timestamp"], ascending=False)
transformed1 = transformed1[transformed1["latitude"]==(-7.98)].reset_index()
transformed1 = transformed1.drop(columns=["index"])
print(transformed1.shape)
transformed1.head(5)

(259, 11)

,location_name,latitude,longitude,timestamp,avg_cloud_total_pct,avg_wind_speed_kmph,avg_pressure,avg_humidity_pct,avg_temperature_c,avg_feels_like_c,avg_wind_gust_kmph
0,Malang,-7.98,112.63,2025-06-07T07:00:00,5.0,3.6,1014.0,86.0,16.4,16.4,10.8
1,Malang,-7.98,112.63,2025-06-07T06:00:00,4.0,3.6,1014.0,87.5,16.1,16.1,7.3
2,Malang,-7.98,112.63,2025-06-07T05:00:00,12.0,3.6,1013.0,90.0,16.2,16.2,3.8
3,Malang,-7.98,112.63,2025-06-07T04:00:00,22.0,3.6,1013.0,93.0,16.3,16.3,10.8
4,Malang,-7.98,112.63,2025-06-07T03:00:00,32.0,3.6,1013.0,94.0,16.5,16.5,10.8

In [140]:
transformed1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   location_name        259 non-null    object
 1   latitude             259 non-null    float64
 2   longitude            259 non-null    float64
 3   timestamp            259 non-null    object
 4   avg_cloud_total_pct  259 non-null    float64
 5   avg_wind_speed_kmph  259 non-null    float64
 6   avg_pressure         259 non-null    float64
 7   avg_humidity_pct     259 non-null    float64
 8   avg_temperature_c    259 non-null    float64
 9   avg_feels_like_c     259 non-null    float64
 10  avg_wind_gust_kmph   259 non-null    float64
dtypes: float64(9), object(2)
memory usage: 22.4+ KB

In [ ]:
temp_res = get_all_data(FREEWEATHER_DB)

In [ ]:
temp_res

In [165]:
filtered_data = filter_certain_time(temp_res, key="localtime", tolerance=2)
df = pd.DataFrame(filtered_data)
df.drop(columns=["_id", "_rev", "created_at"], inplace=True)
df.drop(index=[1078, 1079], inplace=True)
df.drop_duplicates(inplace=True)

df = df.sort_values(by=["localtime"], ascending=False, ignore_index=True).reset_index()
df.drop(columns=["index"], inplace=True)
print(df.shape)

Format waktu salah: None
Format waktu salah: None
(264, 40)

In [166]:
df.head()

,provider,lat,lon,name,tz_id,region,country,localtime,localtime_epoch,uv,...,feelslike_f,heatindex_c,heatindex_f,pressure_in,pressure_mb,wind_degree,windchill_c,windchill_f,last_updated,last_updated_epoch
0,weatherapi,-7.98,112.63,Malang,Asia/Jakarta,East Java,Indonesia,2025-06-08 11:02,1749355353,9.7,...,85.3,29.6,85.3,29.88,1012.0,216,27.8,82.0,2025-06-08 11:00,1749355200
1,weatherapi,-7.98,112.63,Malang,Asia/Jakarta,East Java,Indonesia,2025-06-08 11:02,1749355354,9.7,...,85.3,29.6,85.3,29.88,1012.0,216,27.8,82.0,2025-06-08 11:00,1749355200
2,weatherapi,-7.98,112.63,Malang,Asia/Jakarta,East Java,Indonesia,2025-06-08 10:01,1749351663,8.4,...,82.4,28.0,82.4,29.91,1013.0,198,26.3,79.3,2025-06-08 10:00,1749351600
3,weatherapi,-7.98,112.63,Malang,Asia/Jakarta,East Java,Indonesia,2025-06-08 10:00,1749351614,8.4,...,82.4,28.0,82.4,29.91,1013.0,198,26.3,79.3,2025-06-08 10:00,1749351600
4,weatherapi,-7.98,112.63,Malang,Asia/Jakarta,East Java,Indonesia,2025-06-08 09:02,1749348120,5.3,...,78.9,26.0,78.9,29.92,1013.0,185,24.2,75.5,2025-06-08 09:00,1749348000

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
conn = sqlite3.connect("weather.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS weather_data(
    id INTEGER PRIMARY KEY AUTOINCREMENT,

    provider TEXT NOT NULL,
    name TEXT NOT NULL,
    region TEXT NOT NULL,
    country TEXT NOT NULL,
    lat REAL NOT NULL,
    lon REAL NOT NULL,
    tz_id TEXT NOT NULL,
    localtime_epoch INTEGER NOT NULL,
    localtime TEXT NOT NULL,
    last_updated_epoch INTEGER NOT NULL,
    last_updated TEXT NOT NULL,

    temp_c REAL NOT NULL,
    temp_f REAL NOT NULL,
    is_day INTEGER NOT NULL,
    text TEXT NOT NULL,
    icon TEXT NOT NULL,
    code INTEGER NOT NULL,

    wind_mph REAL NOT NULL,
    wind_kph REAL NOT NULL,
    wind_degree INTEGER NOT NULL,
    wind_dir TEXT NOT NULL,

    pressure_mb REAL NOT NULL,
    pressure_in REAL NOT NULL,
    precip_mm REAL NOT NULL,
    precip_in REAL NOT NULL,

    humidity INTEGER NOT NULL,
    cloud INTEGER NOT NULL,
    feelslike_c REAL NOT NULL,
    feelslike_f REAL NOT NULL,
    windchill_c REAL NOT NULL,
    windchill_f REAL NOT NULL,
    heatindex_c REAL NOT NULL,
    heatindex_f REAL NOT NULL,
    dewpoint_c REAL NOT NULL,
    dewpoint_f REAL NOT NULL,
    vis_km REAL NOT NULL,
    vis_miles REAL NOT NULL,
    uv REAL NOT NULL,
    gust_mph REAL NOT NULL,
    gust_kph REAL NOT NULL
)
"""
)

df.to_sql("weather_data", conn, if_exists="append", index=False)

conn.commit()
conn.close()

In [149]:
conn = sqlite3.connect("weather.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS weather_summary (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    
    location_name TEXT NOT NULL,
    latitude REAL NOT NULL,
    longitude REAL NOT NULL,
    timestamp TEXT NOT NULL,

    avg_cloud_total_pct REAL NOT NULL,
    avg_wind_speed_kmph REAL NOT NULL,
    avg_pressure REAL NOT NULL,
    avg_humidity_pct REAL NOT NULL,
    avg_temperature_c REAL NOT NULL,
    avg_feels_like_c REAL NOT NULL,
    avg_wind_gust_kmph REAL NOT NULL
)
""")

transformed1.to_sql("weather_summary", conn, if_exists="append", index=False)
conn.commit()
conn.close()

In [161]:
conn = sqlite3.connect("weather.db")
cursor = conn.cursor()

df = pd.read_sql_query("SELECT timestamp, avg_temperature_c FROM weather_summary", conn)
results = df.to_dict(orient="list")

In [155]:
rows

[('2025-06-07T07:00:00', 16.400000000000002),
 ('2025-06-07T06:00:00', 16.1),
 ('2025-06-07T05:00:00', 16.199999999999996),
 ('2025-06-07T04:00:00', 16.300000000000004),
 ('2025-06-07T03:00:00', 16.5),
 ('2025-06-07T02:00:00', 16.699999999999992),
 ('2025-06-07T01:00:00', 16.900000000000002),
 ('2025-06-07T00:00:00', 16.900000000000002),
 ('2025-06-06T23:00:00', 17.6),
 ('2025-06-06T22:00:00', 18.400000000000002),
 ('2025-06-06T21:00:00', 18.400000000000002),
 ('2025-06-06T20:00:00', 18.199999999999992),
 ('2025-06-06T19:00:00', 18.900000000000002),
 ('2025-06-06T18:00:00', 21.5),
 ('2025-06-06T17:00:00', 25.97872340425532),
 ('2025-06-06T16:00:00', 27.300000000000008),
 ('2025-06-06T15:00:00', 28.5),
 ('2025-06-06T14:00:00', 29.199999999999992),
 ('2025-06-06T13:00:00', 29.10000000000001),
 ('2025-06-06T12:00:00', 28.6),
 ('2025-06-06T11:00:00', 27.6),
 ('2025-06-06T10:00:00', 26.5),
 ('2025-06-06T09:00:00', 25.0),
 ('2025-06-06T08:00:00', 21.300000000000004),
 ('2025-06-06T07:00:00', 16.6),
 ('2025-06-06T06:00:00', 16.400000000000002),
 ('2025-06-06T05:00:00', 16.300000000000004),
 ('2025-06-06T04:00:00', 16.300000000000004),
 ('2025-06-06T03:00:00', 16.199999999999996),
 ('2025-06-06T02:00:00', 16.300000000000004),
 ('2025-06-06T01:00:00', 16.5),
 ('2025-06-06T00:00:00', 16.5),
 ('2025-06-05T23:00:00', 16.85),
 ('2025-06-05T22:00:00', 17.300000000000004),
 ('2025-06-05T21:00:00', 18.099999999999998),
 ('2025-06-05T20:00:00', 17.900000000000002),
 ('2025-06-05T19:00:00', 18.0),
 ('2025-06-05T18:00:00', 20.699999999999996),
 ('2025-06-05T17:00:00', 25.1),
 ('2025-06-05T16:00:00', 26.6),
 ('2025-06-05T15:00:00', 28.199999999999996),
 ('2025-06-05T14:00:00', 29.0),
 ('2025-06-05T13:00:00', 29.300000000000008),
 ('2025-06-05T12:00:00', 28.89999999999999),
 ('2025-06-05T11:00:00', 27.699999999999992),
 ('2025-06-05T10:00:00', 26.0),
 ('2025-06-05T09:00:00', 24.1),
 ('2025-06-05T08:00:00', 21.6),
 ('2025-06-05T07:00:00', 17.300000000000004),
 ('2025-06-05T06:00:00', 17.339795918367354),
 ('2025-06-05T05:00:00', 17.400000000000002),
 ('2025-06-05T04:00:00', 17.599999999999998),
 ('2025-06-05T03:00:00', 17.5),
 ('2025-06-05T02:00:00', 17.699999999999996),
 ('2025-06-05T01:00:00', 17.900000000000002),
 ('2025-06-05T00:00:00', 17.900000000000002),
 ('2025-06-04T23:00:00', 18.300000000000008),
 ('2025-06-04T22:00:00', 19.099999999999998),
 ('2025-06-04T21:00:00', 19.400000000000002),
 ('2025-06-04T20:00:00', 19.599999999999998),
 ('2025-06-04T19:00:00', 20.099999999999998),
 ('2025-06-04T18:00:00', 22.199999999999996),
 ('2025-06-04T17:00:00', 24.5),
 ('2025-06-04T16:00:00', 25.800000000000004),
 ('2025-06-04T15:00:00', 26.5),
 ('2025-06-04T14:00:00', 27.600000000000005),
 ('2025-06-04T13:00:00', 28.5),
 ('2025-06-04T12:00:00', 28.60000000000001),
 ('2025-06-04T11:00:00', 27.89999999999999),
 ('2025-06-04T10:00:00', 26.699999999999992),
 ('2025-06-04T09:00:00', 24.9),
 ('2025-06-04T08:00:00', 22.699999999999992),
 ('2025-06-04T07:00:00', 17.599999999999998),
 ('2025-06-04T06:00:00', 17.439),
 ('2025-06-04T05:00:00', 17.900000000000002),
 ('2025-06-04T04:00:00', 18.0),
 ('2025-06-04T03:00:00', 18.4),
 ('2025-06-04T02:00:00', 18.900000000000002),
 ('2025-06-04T01:00:00', 18.900000000000002),
 ('2025-06-04T00:00:00', 18.900000000000002),
 ('2025-06-03T23:00:00', 19.300000000000008),
 ('2025-06-03T22:00:00', 20.199999999999996),
 ('2025-06-03T21:00:00', 20.300000000000004),
 ('2025-06-03T20:00:00', 20.400000000000002),
 ('2025-06-03T19:00:00', 20.400000000000002),
 ('2025-06-03T18:00:00', 22.800000000000008),
 ('2025-06-03T17:00:00', 25.81999999999999),
 ('2025-06-03T16:00:00', 26.099999999999994),
 ('2025-06-03T15:00:00', 24.9),
 ('2025-06-03T14:00:00', 23.208192090395478),
 ('2025-06-03T13:00:00', 25.566666666666663),
 ('2025-06-03T12:00:00', 23.25),
 ('2025-06-03T11:00:00', 22.950000000000006),
 ('2025-06-03T10:00:00', 23.733333333333338),
 ('2025-06-03T09:00:00', 22.63333333333333),
 ('2025-06-03T08:00:00', 20.900000000000006),
 ('2025-06-03T07:00:00', 18.9),
 ('2025-06-03T06:00:00', 19.46101694915254),
 ('2025-06-03T05:00:00', 19.699999999999996),
 ('2025-06-03T04:00:00', 19.699999999999996),
 ('2025-06-03T03:00:00', 20.2),
 ('2025-06-03T02:00:00', 19.89999999999999),
 ('2025-06-03T01:00:00', 21.300000000000008),
 ('2025-06-03T00:00:00', 23.37058823529412),
 ('2025-06-02T23:00:00', 24.3),
 ('2025-06-02T22:00:00', 26.7),
 ('2025-06-02T21:00:00', 28.100000000000016),
 ('2025-06-02T20:00:00', 28.700000000000006),
 ('2025-06-02T19:00:00', 28.60000000000001),
 ('2025-06-02T18:00:00', 27.514594594594595),
 ('2025-06-02T17:00:00', 26.100000000000012),
 ('2025-06-02T16:00:00', 24.0),
 ('2025-06-02T15:00:00', 22.0),
 ('2025-06-02T14:00:00', 18.100000000000005),
 ('2025-06-02T13:00:00', 17.545454545454547),
 ('2025-06-02T12:00:00', 17.699999999999996),
 ('2025-06-02T11:00:00', 17.69999999999999),
 ('2025-06-02T10:00:00', 18.300000000000008),
 ('2025-06-02T09:00:00', 18.5),
 ('2025-06-02T08:00:00', 18.60000000000001),
 ('2025-06-02T07:00:00', 18.60000000000001),
 ('2025-06-02T06:00:00', 18.727659574468092),
 ('2025-06-02T05:00:00', 19.39999999999999),
 ('2025-06-02T04:00:00', 19.3),
 ('2025-06-02T03:00:00', 19.39999999999999),
 ('2025-06-02T02:00:00', 19.5),
 ('2025-06-02T01:00:00', 22.300000000000004),
 ('2025-06-02T00:00:00', 25.53519553072626),
 ('2025-06-01T23:00:00', 26.299999999999997),
 ('2025-06-01T22:00:00', 26.8),
 ('2025-06-01T21:00:00', 27.10000000000001),
 ('2025-06-01T20:00:00', 27.5),
 ('2025-06-01T19:00:00', 27.5),
 ('2025-06-01T18:00:00', 27.318181818181813),
 ('2025-06-01T17:00:00', 25.899999999999984),
 ('2025-06-01T16:00:00', 24.100000000000005),
 ('2025-06-01T15:00:00', 21.89999999999999),
 ('2025-06-01T14:00:00', 17.899999999999995),
 ('2025-06-01T13:00:00', 17.899999999999995),
 ('2025-06-01T12:00:00', 18.0),
 ('2025-06-01T11:00:00', 18.0),
 ('2025-06-01T10:00:00', 18.1),
 ('2025-06-01T09:00:00', 18.100000000000005),
 ('2025-06-01T08:00:00', 18.199999999999996),
 ('2025-06-01T07:00:00', 18.2),
 ('2025-06-01T06:00:00', 18.676836158192096),
 ('2025-06-01T05:00:00', 19.199999999999992),
 ('2025-06-01T04:00:00', 19.6),
 ('2025-06-01T03:00:00', 20.0),
 ('2025-05-25T21:00:00', 27.5),
 ('2025-05-25T20:00:00', 27.89999999999999),
 ('2025-05-25T19:00:00', 28.2),
 ('2025-05-25T18:00:00', 28.24705882352941),
 ('2025-05-25T17:00:00', 27.5),
 ('2025-05-25T16:00:00', 25.5),
 ('2025-05-25T15:00:00', 23.399999999999988),
 ('2025-05-25T14:00:00', 19.622222222222224),
 ('2025-05-25T13:00:00', 18.5),
 ('2025-05-25T12:00:00', 18.5),
 ('2025-05-25T11:00:00', 18.60000000000001),
 ('2025-05-25T10:00:00', 18.399999999999995),
 ('2025-05-25T09:00:00', 18.39999999999999),
 ('2025-05-25T08:00:00', 18.699999999999992),
 ('2025-05-25T07:00:00', 18.699999999999996),
 ('2025-05-25T06:00:00', 19.294652406417118),
 ('2025-05-25T05:00:00', 19.8),
 ('2025-05-25T04:00:00', 20.0),
 ('2025-05-25T03:00:00', 19.9),
 ('2025-05-24T21:00:00', 27.0),
 ('2025-05-24T20:00:00', 27.8),
 ('2025-05-24T19:00:00', 28.333519553072623),
 ('2025-05-24T18:00:00', 25.899999999999988),
 ('2025-05-24T17:00:00', 25.399999999999988),
 ('2025-05-24T16:00:00', 23.300000000000004),
 ('2025-05-24T15:00:00', 21.89999999999999),
 ('2025-05-24T14:00:00', 18.915957446808505),
 ('2025-05-24T13:00:00', 18.699999999999996),
 ('2025-05-24T12:00:00', 18.39999999999999),
 ('2025-05-24T11:00:00', 18.399999999999995),
 ('2025-05-24T10:00:00', 19.300000000000004),
 ('2025-05-24T09:00:00', 19.5),
 ('2025-05-24T08:00:00', 19.60000000000001),
 ('2025-05-24T07:00:00', 19.60000000000001),
 ('2025-05-24T06:00:00', 20.203977272727265),
 ('2025-05-24T05:00:00', 20.10000000000001),
 ('2025-05-24T04:00:00', 20.300000000000004),
 ('2025-05-24T03:00:00', 20.10000000000001),
 ('2025-05-24T02:00:00', 20.300000000000004),
 ('2025-05-24T01:00:00', 21.0),
 ('2025-05-24T00:00:00', 23.46516853932585),
 ('2025-05-23T23:00:00', 25.2),
 ('2025-05-23T22:00:00', 25.799999999999994),
 ('2025-05-23T21:00:00', 26.0),
 ('2025-05-23T20:00:00', 25.60000000000001),
 ('2025-05-23T19:00:00', 25.688764044943824),
 ('2025-05-23T18:00:00', 26.0),
 ('2025-05-23T17:00:00', 25.700000000000003),
 ('2025-05-23T16:00:00', 24.399999999999988),
 ('2025-05-23T15:00:00', 22.5),
 ('2025-05-23T11:00:00', 17.8),
 ('2025-05-23T10:00:00', 17.9),
 ('2025-05-23T09:00:00', 17.9),
 ('2025-05-23T08:00:00', 18.100000000000005),
 ('2025-05-23T07:00:00', 18.1),
 ('2025-05-23T05:00:00', 18.6),
 ('2025-05-23T04:00:00', 18.699999999999992),
 ('2025-05-23T03:00:00', 18.60000000000001),
 ('2025-05-23T02:00:00', 18.899999999999995),
 ('2025-05-23T01:00:00', 20.39999999999999),
 ('2025-05-23T00:00:00', 23.272340425531908),
 ('2025-05-22T23:00:00', 23.60000000000001),
 ('2025-05-22T22:00:00', 24.0),
 ('2025-05-22T21:00:00', 24.600000000000012),
 ('2025-05-22T20:00:00', 25.300000000000008),
 ('2025-05-22T19:00:00', 26.200000000000003),
 ('2025-05-22T18:00:00', 26.7),
 ('2025-05-22T17:00:00', 25.60000000000001),
 ('2025-05-22T16:00:00', 23.89999999999999),
 ('2025-05-22T15:00:00', 22.39999999999999),
 ('2025-05-22T14:00:00', 18.300000000000004),
 ('2025-05-22T13:00:00', 17.800000000000008),
 ('2025-05-22T12:00:00', 17.899999999999995),
 ('2025-05-22T11:00:00', 18.199999999999992),
 ('2025-05-22T10:00:00', 18.346745562130177),
 ('2025-05-22T09:00:00', 18.5),
 ('2025-05-22T08:00:00', 18.899999999999995),
 ('2025-05-22T07:00:00', 18.89999999999999),
 ('2025-05-22T06:00:00', 18.800000000000004),
 ('2025-05-22T05:00:00', 18.699999999999996),
 ('2025-05-22T04:00:00', 18.399999999999995),
 ('2025-05-22T03:00:00', 18.800000000000004),
 ('2025-05-22T02:00:00', 19.199999999999996),
 ('2025-05-22T01:00:00', 20.800000000000004),
 ('2025-05-22T00:00:00', 22.699999999999996),
 ('2025-05-21T23:00:00', 23.0),
 ('2025-05-21T22:00:00', 23.5),
 ('2025-05-21T21:00:00', 24.3),
 ('2025-05-21T20:00:00', 24.800000000000004),
 ('2025-05-21T19:00:00', 25.400000000000002),
 ('2025-05-21T17:00:00', 25.30000000000001),
 ('2025-05-21T06:00:00', 19.100000000000005),
 ('2025-05-21T05:00:00', 18.900000000000002),
 ('2025-05-21T00:00:00', 22.399999999999995),
 ('2025-05-20T07:00:00', 18.5),
 ('2025-05-20T06:00:00', 18.699999999999996),
 ('2025-05-20T05:00:00', 18.699999999999992),
 ('2025-05-20T04:00:00', 19.0),
 ('2025-05-20T03:00:00', 19.199999999999996),
 ('2025-05-20T02:00:00', 18.60000000000001),
 ('2025-05-20T01:00:00', 19.5),
 ('2025-05-20T00:00:00', 22.300000000000004),
 ('2025-05-19T23:00:00', 22.9),
 ('2025-05-19T08:00:00', 19.1),
 ('2025-05-19T07:00:00', 19.100000000000005),
 ('2025-05-19T06:00:00', 19.600000000000005),
 ('2025-05-19T05:00:00', 19.600000000000005),
 ('2025-05-13T18:00:00', 24.0),
 ('2025-05-13T17:00:00', 23.60000000000001),
 ('2025-05-13T16:00:00', 23.100000000000005)]